
<% layout('./boilerplate.ejs')%>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">
            <div class="card shadow p-3 mb-5 bg-body rounded" >
                <div class="card-title my-2 text-center"><h1>About CF Contest Analyzer</h1></div>
                <div class="card-body">
                    <p>
                        With the help of CF Contest Analyzer, you can analyze your performance 
                        in CF contests within a time window. This helps to compare your current
                        CP-skills with past and can serve as a confidence-booster!!
                        <br>
                        It provides Time Analysis of each problem level, using which you can 
                        get an idea of your current problem solving speed & you can make plan for 
                        improvements. Besides, it also provides General Analysis which is kind of 
                        summary of your contest history in that particular time window.
                        <br>
                        <br>
                        <br>
                        <strong><a href="https://cfviz.netlify.app/">CF-Visualizer</a> already provides lot
                        of analysis, then what is need of this? </strong>
                        <br>
                        <ul>
                            <li>
                                CF Visualizer takes into consideration all of your submissions, which includes
                                Contest submissions, Practice submissions & OUT-OF-COMPETITION submissions.
                                What if someone wants analysis of his performance just only in a REAL contest? Well,
                                CF Contest Analyzer provides that :)
                                <br>
                                It focusses only on your contest performance through your contest submissions,
                                which indicates your current CP level.
                            </li>

                            <li>
                                There is no time analysis in CF Visualizer, which indeed is the main focus of
                                CF Contest Analyzer. Many times, we think that we need to increase our speed in hard 
                                problems, but on analyzing, it may turn out that you are taking much time in 
                                solving easy problems. Using CF Contest Analyzer, you can make these types of 
                                analysis & can focus on your weak areas.
                            </li>

                            <li>
                                There is no option to see analysis of your performace in particular time 
                                window in CF Visualizer. Using time window option available in CF Contest 
                                Analyzer, you can compare your current progress with that in past!!!
                            </li>
                        </ul>

                        <strong>NOTE</strong>
                        <ul>
                            <li>
                                Unit of time is minutes everywhere.
                            </li>
                            <li>
                                If you enter swapped value of starting & ending date, it will automatically 
                                fix into its proper values.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
